body {
    overflow-x: hidden;
    margin: 0px;
    background: #ECEFF1;
    color: #263238;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: 600;
}

/*Header nav-bar*/

.avatar{
    float: center;
    margin-top: 0.5em;
    margin-right: 1em;
    position: relative;
    height: 120px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

.header{
    text-align: center;
    background-color: #78909C;
    margin: 0px;
    padding: 0px;
    height: 14em;
    width: 100%;
    position: fixed;

    z-index: 2;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;

}

.navbar{
    background-color: #607D8B;
    border-bottom: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    border-radius: 0%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-width: 0 0px 0px 0px;
    padding: 1em;
    font-size: 1.2em;
    position: fixed;
    margin-top: 11.6em;
    z-index: 1;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;

}

.navbar-default .navbar-nav>li>a:hover{
    color: #B0BEC5;
    text-shadow: 1px 1px #263238;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus{
    color: #ECEFF1;
    text-shadow: 1px 1px #263238;
    font-weight: 800;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.site-title{
    margin: 0px;
    padding: 0.5em;

}

/*Header nav-bar transformation*/

.avatar-shrink{
    position: fixed;
    height: 65px;
    float: left;
    text-align: left;
    margin-top: 14.5em;
    margin-left: 3em;
}

.header-shrink{
    text-align: left;
    margin-top: -14em;

}

.navbar-shrink{
    background-color: #607D8B;
    position: fixed;
    border-bottom: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    border-radius: 0%;
    width: 100%;
    margin-top: 0px;
    padding: 0.3em;
    border-width: 0 0px 0px 0px;
    font-size: 1em;
}

.site-title-shrink{
    position: fixed;
    float: left;
    text-align: left;
    margin-top: 6.5em;
    margin-left: 3.5em;
}

/*Fix size of top header*/

.fix-bar{
    height: 22em;
    width: 100%;
}


/*Content*/

.content{
    height: 900px;
    padding-top: 1em;
}

.post-data{
    text-align: center;
}

.post-line{
    margin-top: 1em;
    margin-bottom: 1em;
}

/*Footer*/

.footer{
    width: 100%;
    background: #CFD8DC;
    padding: 1em;
    margin-top: 2em;
    text-align: center;
}

.copyright{
    padding-top: 2em;
}


/*Social bar*/

.social>a.btn{
    margin: .1em;
    border-radius: 50%;
    font-size: 1.4em;
    color: #fff;
    width: 2.8em;
    padding: .8em;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;

}

.social>a.btn:hover{
    background-color: #ECEFF1;
    color: #78909C;
    border-color: #78909C;
}

.social>a.btn-email{
    background-color: #78909C;
    border-color: #607D8B;
}

.social>a.btn-facebook{
    background-color: #627AAD;
    border-color: #3B5998;
}

.social>a.btn-github{
    background-color: #913399;
    border-color: #701177;
}

.social>a.btn-google{
    background-color: #D34836;
    border-color: #B12614;
}

.social>a.btn-linkedin{
    background-color: #0077B5;
    border-color: #005593;
}

.social>a.btn-twitter{
    background-color: #33CCFF;
    border-color: #11AADD;
}