body {
    overflow-x: hidden;
    margin: 0px;
    background: #ECEFF1;
    color: #263238;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: 600;
}

.avatar{
    float: center;
    margin-top: 0.5em;
    margin-right: 1em;
    position: relative;

    height: 120px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;

}

.header{
    text-align: center;
    background-color: #78909C;
    margin: 0px;
    padding: 0px;
    height: 14em;
    width: 100%;
}

.header-shrink{
    text-align: left;
    margin-top: -14em;

}

.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;

}

.navbar{
    background-color: #607D8B;
    border-bottom: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    border-radius: 0%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-width: 0 0px 0px 0px;
    padding: 1em;
    font-size: 1.2em;
    z-index: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;

}

.navbar-shrink{
    background-color: #607D8B;
    position: fixed;
    border-bottom: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    border-radius: 0%;
    width: 100%;
    margin-top: 0px;
    padding: 0.3em;
    border-width: 0 0px 0px 0px;
    font-size: 1em;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #B0BEC5;
    text-shadow: 1px 1px #263238;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus{
    color: #ECEFF1;
    text-shadow: 1px 1px #263238;
    font-weight: 800;


}

.site-title{
    margin: 0px;
    padding: 0.5em;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.site-title-shrink{
    position: fixed;
    float: left;
    text-align: left;
    margin-top: 6.5em;
    margin-left: 5em;
    z-index: 2;
}

.avatar-shrink{
    position: fixed;
    height: 65px;
    float: left;
    text-align: left;
    margin-top: 14.5em;
    margin-left: 3em;
    z-index: 2;
}

.content{
    height: 900px;
    padding-top: 1em;
    z-index: 0;
}

.post-data{
    text-align: center;
}

.post-line{
    margin-top: 1em;
    margin-bottom: 1em;
}

.fix-bar{
    height: 3em;
    width: 100%;
}

.fix-bar-shrink{
    height: 14em;
    width: 100%;
}

.top{
    margin: 0px;
    padding: 0px;
    width: 100%;
}