body {
    overflow-x: hidden;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: 600;
}

.avatar{
    float: center;
    margin-top: 0.5em;
    margin-right: 1em;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}


@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default.navbar-shrink {
        padding: 0px 0;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

}

.navbar-default .navbar-nav>li>a {
    font-weight: 600;
    color: #ECEFF1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.navbar-default .navbar-nav>li>a:hover {
    font-weight: 600;
    color: #607D8B;
    background-color: #B0BEC5;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    border-radius: 30%;
}

.navbar-shrink .navbar-nav>li>a:hover {
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    border-radius: 3%;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-shrink{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    visibility: visible;
}

.navbar{
    text-transform: uppercase;
    margin-bottom: 0px;
    background-color: #607D8B;
    border-radius: 0;
}

.navbar-brand{
    visibility: hidden;
}   

.navbar-brand-visible{
    visibility: visible;
}   

.header{
    padding-bottom: 1em;
    height: 15em;
    background-color: #aaa;
    text-align: center;
    background: -webkit-linear-gradient(#B0BEC5, #607D8B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B0BEC5, #607D8B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B0BEC5, #607D8B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B0BEC5, #607D8B); /* Standard syntax */
}

.header-text{
    color: #ECEFF1;
}


#content{
    padding-top: 3em;
    border: 1px solid #000;
    height: 300%;
}