.avatar{
    float: center;
    margin-top: 0.5em;
    margin-right: 1em;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

body{
    margin-top: 0px;
}

#top-bg{
    background-color: #34495e;
    width:100%;
    height: 140px;
    position: absolute;
    top: 0px;
}

#top-bg-line{
    background-color: #DDD;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 140px;
}

#top-bg-small{
    background-color: #34495e;
    height: 40px;
    width: 100%;
    top:0px;
    position: fixed;
}

#top-bg-line-small{
    background-color: #DDD;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 40px;
}

#content{
    width: 100%;
    top: 70px;
    position: absolute;
    margin-top: 3em;
}

#menu{
    height: 30px;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.fixed{
    height: 140px;
    margin: 0px;
    padding: 0px;
}

.head-text, .title-small{
    color: #DDDDDD;
    height: 145px;
}

.title-small{
    font-size: 2em;
    text-align: left;
}

.btn-menu{
    margin: 0px;
    padding: 0em 1em;
    height: 23px;
    border-radius: 0px;
}

.btn-color{
    margin: 0px;
    padding: 0em 0.2em;
    font-size: 0.8em;
    border-radius: 0px;
}

.btn-small-menu{
    margin: 0px;
    padding: 0.4em 1em;
    height: 30px;
    border-radius: 0px;
}

.spacer{
    margin-left: 4em;
    font-weight: bold;
}

.box{
    background: #FFF;
    margin-top: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
}

.btn-full{
    width: 100%;
    margin: 0px;
    padding: 0.5em;
    border-radius: 0px;
}

.btn-tag{
    padding: 0.2em 0.4em;
    border-radius: 0.8em;
    font-size: 0.8em;
}

.no-margin{
    margin: 0px;
}

.no-padding{
    padding: 0px;
}

.full-table{
    width: 100%;
    border: 0px;
}

#social{
    margin: 2em 0em;
}

#footer{
    margin: 0em 0em;
    color: #666;
}

@media(min-width:1024px) {

    #content{
        top: 170px;
    }

    #social{
        visibility: hidden;
        position: absolute;
    }

    #footer{
        margin: 2em 0em;
    }   

}